main.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: normal;
  font-size: var(--fs-xl);

  margin-bottom: 1.5rem;
}

form.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  background-color: rgba(var(--dark-color-code), 0.8);
  backdrop-filter: opacity(50%);
  padding: 2em 3.2em;
  border-radius: 1rem;
  backdrop-filter: blur(1px);
}

form.login h2 {
  font-size: var(--fs-lg);
  font-weight: normal;

  margin-bottom: 1rem;
}

form.login input {
  width: 240px;

  font-size: var(--fs-md);

  padding: 0.5em 1em;
  border: none;
  border-radius: 0.3em;
}

form.login button {
  color: black;
  font-size: var(--fs-md);
  border: none;
  border-radius: 0.2em;
  padding: 0.3em 1.2em;

  margin-top: 1rem;
}
