main.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: normal;
  font-size: var(--fs-xl);

  margin-bottom: 1.5rem;
}

form.login {
  height: max-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;

  background-color: rgba(var(--dark-color-code), 0.8);
  border-radius: 1rem;
  border: 1.5px solid var(--light-color);
  padding: 2rem 3rem;
  backdrop-filter: blur(1px);
}

form.login h2 {
  font-size: var(--fs-lg);
  font-weight: normal;

  margin-bottom: 0.75rem;
}

form.login input {
  width: 240px;

  color: black;
  font-size: var(--fs-md);

  padding: 0.3em 0.7em;
  border: none;
  border-radius: 0.3em;
}

form.login button {
  color: black;
  background-color: white;
  font-size: var(--fs-md);
  border: none;
  border-radius: 0.2em;
  padding: 0.3em 1.2em;

  margin-top: 0.75rem;
}
