main.quiz-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 3rem 10rem;

  border-collapse: collapse;
}

section.quiz-navigator {
  height: 100%;
  flex: 0.3;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--dark-color);
  border: var(--border-width) solid var(--light-color);

  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

section.quiz-navigator .current-level {
  width: 100%;

  text-align: center;
  font-size: var(--fs-md);
  padding: 1rem 0;
  border-bottom: 0.5px solid var(--light-color);
}

section.quiz-navigator .navigation-buttons {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 1%; */

  margin-top: 1rem;
}

section.quiz-navigator .navigation-buttons > button {
  aspect-ratio: 1 / 1;

  background-color: var(--button-color);
  font-size: var(--fs-lg);
  border: none;
  border-radius: 50%;
  padding: 1.5vh;
}

section.quiz-navigator .action-buttons {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, max-content);
  gap: 1rem;

  padding: 1rem;
  padding-bottom: 1.5rem;
}

section.quiz-navigator .action-buttons > button {
  flex: 1;
  /* flex-basis: max-content; */

  display: flex;
  align-items: center;
  /* justify-content: center; */

  font-size: var(--fs-sm);
  padding: 0.35em 0.7em;
  border-radius: 0.5em;
  border: 0.5px solid var(--light-color);
  background-color: var(--dark-color);
}

section.quiz-navigator .action-buttons > button span {
  margin-inline: auto;
}

section.quiz-navigator .action-buttons > button img {
  height: 1em;
}

section.quiz-body {
  height: 100%;
  flex: 0.7;

  background-color: var(--medium-color);

  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  border: var(--border-width) solid var(--light-color);
  border-left: none;
}
