* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jersey 10", sans-serif;
  letter-spacing: 1px;
  font-weight: normal;
  color: white;
}

:root {
  /* --fs-sm: clamp(0.875rem, 1.5vw, 1rem);
  --fs-md: clamp(1rem, 2vw, 1.25rem);
  --fs-lg: clamp(1.5rem, 3vw, 2rem);
  --fs-xl: clamp(2rem, 5vw, 3rem); */

  --fs-sm: clamp(0.875rem, 1.2vw, 2rem);
  --fs-md: clamp(1rem, 1.5vw, 2.5rem);
  --fs-lg: clamp(1.5rem, 2.4vw, 4rem);
  --fs-xl: clamp(2rem, 4.4vw, 6rem);

  --header-height: 12vh;

  --dark-color: rgb(24, 24, 24);
  --medium-color: rgb(32, 32, 32);
  --light-color: rgb(147, 147, 147);
  --button-color: #23b2fe;

  --dark-color-code: 24, 24, 24;
  --medium-color-code: 32, 32, 32;
  --light-color-code: 152, 152, 152;

  --border-width: 0.5px;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  background-image: url(../assets/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  width: 100%;
  height: var(--header-height);

  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 2vh 0;
  border-bottom: var(--border-width) solid var(--light-color);
  background-color: var(--dark-color);
}

header img {
  height: 100%;
}

main {
  /* main height = total - nav height */
  height: calc(100vh - var(--header-height));
  width: 100%;
}

button {
  cursor: pointer;
  transition: transform 150ms;
  will-change: transform;

  &:active {
    transform: scale(0.9);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

#preloader {
  width: 3.75rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 0.375rem solid rgba(var(--light-color-code), 0.7);
  border-top-color: white;

  animation: spin 1000ms linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
