* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jersey 10", sans-serif;
  color: white;
}

:root {
  --fs-sm: clamp(0.875rem, 1.5vw, 1rem);
  --fs-md: clamp(1rem, 2vw, 1.25rem);
  --fs-lg: clamp(1.5rem, 3vw, 2rem);
  --fs-xl: clamp(2rem, 5vw, 3rem);

  --header-height: 12vh;

  --dark-color: rgb(24, 24, 24);
  --medium-color: rgb(32, 32, 32);
  --light-color: rgb(147, 147, 147);

  --dark-color-code: 24, 24, 24;
  --medium-color-code: 32, 32, 32;
  --light-color-code: 152, 152, 152;

  --button-color: #23b2fe;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  background-image: url(../assets/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  width: 100%;
  height: var(--header-height);

  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 1rem 0;
  border-bottom: 0.5px solid var(--light-color);
  background-color: var(--dark-color);
}

header img {
  height: 100%;
}

main {
  /* main height = total - nav height */
  height: calc(100vh - var(--header-height));
}
